/* importing Google Font - Gotham Rounded */
@import url('http://fonts.cdnfonts.com/css/gotham-rounded');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  max-width: 100%;
}

body {
  font-family: 'Gotham Rounded', 'Cambria', serif;
}

/* navbar */
.header, .footer {
  background-color: #1B2522;
  height: max-content;
  width: 100vw;
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list-ul, .footer-list-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
}

a.list-header-items {
  text-decoration: none;
  padding: 0.5em 1em;
  color: #FFFFFF;
  font-size: 1.1rem;
}

a.list-header-items:hover {
  background-color: #00AAFF;
  border-radius: 45px;
}

/* front */
.front-header {
  position: relative;
  display: inline-block;
}

.header-image {
  height: auto;
  width: 100vw;
}

.first-title {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #FFFFFF;
  font-size: 4rem;
  left: 0;
  right: 0;
  top: 25%;
  width: 100%;
}

.second-title {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #FFFFFF;
  font-size: 2rem;
  margin: 2.3em auto;
  left: 0;
  right: 0;
  top: 25%;
  width: 100%; 
}

.button-learn-more {
  background-color: transparent;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: light;
  font-size: 1.2rem;
  padding: 0.25em 0.75em;
  border: 1px solid #00AAFF;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  margin: 7em auto;
  left: 0;
  right: 0;
  top: 25%;
  width: 150px; 
}

.button-learn-more:hover {
  background-color: #00AAFF;
  border: none;
}

.arrow-down {
  position: absolute;
  z-index: 1;
  margin: 20% auto;
  left: 0;
  right: 0;
  top: 55%;
  width: 30px;
}

/* curriculum */
.curriculum {
  margin: 2em;
}

.curriculum-title {
  text-align: center;
  padding-bottom: 1em;
}

.curriculum-content {
  column-count: 2;
}

.html, .vscode, .editing, .node-js, .database, .react {
  margin: auto;
  padding: 0.5em;
  width: 70%;
}

.important-icons {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0 0.5em 0.5em 0.5em;
  clear: left;
}

/* free-content part */ 
.free-content {
  background-color: #00AAFF;
  color: #FFFFFF;
  text-align: center;
}

.free-heading {
  padding: 1em;
}

.free-text {
  padding: 0 1em 2em 1em;
  width: 40%;
  margin: auto;
}

/* contact */
.contact-heading {
  text-align: center;
  padding: 0.5em;
}

form {
  display: inline-block;
  width: 100vw;
  margin: auto;
  padding: 0.5em 5em 0.5em 5em;
  
}

.name-form, .email-form {
  display:inline-block;
  margin-right: 2em;
}

label, input, textarea {
  display: block;
  margin: 0.5rem;
}

input[type=text], input[type=email], textarea {
  min-width: 40vw;
  max-width: 100vw;
  min-height: 2em;
  display: flex;
  flex-direction: column;
}

.message-input {
  height: 10em;
  width: 100%;
  overflow: auto;
}

button[type=submit] {
  display: block;
  height: 2em;
  font-size: 1rem;
  background-color: #00AAFF;
  color: #FFFFFF;
  min-width: 75px;
  margin: 0.5em 0 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float:right;
}

button[type=submit]:hover {
  background-color: #0373ab;
}

@media screen and (max-width: 500px) {
  .form-first-row, .form-second-row, input[type=submit] {
    display: block !important;
    width: 50% !important;
    margin-top: 0;
  }

  .first-title {
    font-size: 3rem !important;
  }

  .important-icons {
    clear: both !important;
  }
}